.container {
    max-width: 100%;
    margin: 0 auto;
}

.profile-con {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1545231160-e7ef23d9301f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-text {
    margin: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px 50px;
    backdrop-filter: blur(5px);
    color: #fff;
}

.profile-edit-btn {
    text-align: center;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    font-size: 12px;
    color: #000000;
    margin-left: 30px;
    text-transform: uppercase;
    float: right;
    
}
.profileimg-edit-btn {
    border-radius: 20px;
    height: 30px;
    text-transform: uppercase;
    width: 100px;
}
.profileimg-info {
    display: flex;
    justify-content: center;
    
}

.profile-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.profile-submit-btn {
    border-radius: 20px;
    height: 30px;
    text-transform: uppercase;

}

.profile-img img {
    background: #fff;
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    border-radius:10px ;
    display: block;
    margin: 0 auto;
}

.profile-input {
    background: transparent;
    border-radius: 40px;
}

.dropdown {
    width: 100px;
    display: block;
    margin: 20px auto;
    text-transform: uppercase;
    position: relative;
}
  
.dropdown .dropdown-btn {
    padding: 9px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
  
.dropdown .dropdown-content {
    position: absolute;
    top: 110%;
    padding: 9px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    width: 200px;
    color: #333;
}
  
.dropdown .dropdown-content .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}
  
.dropdown .dropdown-content .dropdown-item:hover {
    background: #f4f4f4;
}
  
.dropdown .dropdown-span {
    float: right;
    font-weight: bold;
}

@media screen and (max-width : 400px) {
    .profile-input {
        margin-top: 10px;
    }
}

@media screen and (min-height : 850px) {
    .profile-text {
        margin: 58.5px;
    }
}

@media screen and (min-height : 1000px) {
    .profile-text{
        margin: 120.5px;
    }
}

@media screen and (min-height : 901px) and (min-width : 769px) {
    .profile-text {
        margin: 81px;
    }
}